[submodule "lv_examples"]
	path = components/lv_examples/lv_examples
	url = https://hub.fastgit.org/littlevgl/lv_examples.git
	branch = release/v7
[submodule "components/lvgl_esp32_drivers"]
	path = components/lvgl_esp32_drivers
	url = https://hub.fastgit.org/lvgl/lvgl_esp32_drivers.git
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://hub.fastgit.org/lvgl/lvgl.git
